/*naavbar*/
.navbar {
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}
.btn-search{
    background-color: #fe424d;
    color : #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .btn-search:hover{
    background-color: #fe424d;
    color: #fff;
  }

  .btn-search i{
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }

  .location i{
    margin-right: 0.5rem;
  }

  .location{
    border: 1px solid rgb(205, 205, 205);
    border-radius: 15px;
  }