<div class="col-8 offset-3">
    <h3>{{ property?.title }}</h3>
  </div>
  <div class="card col-6 offset-3 show-card listing-card">
    <img [src]="property?.imageUrl" class="card-img-top show-img" alt="listing_image" />
  <div class="card-body">
    <p class="card-text">Owned by <i>{{ property?.owner }}</i></p>
    <p class="card-text">{{ property?.description }}</p>
    <p class="card-text">{{ property?.category }}</p>
    <p class="card-text">&#8377; {{ property?.price }}</p>
    <p class="card-text">{{ property?.location }}</p>
    <p class="card-text">{{ property?.country }}</p>
  </div>
  </div>

  <br />
  <div class="btns" *ngIf="isOwner">
    <a class="btn btn-dark col-1 offset-3 edit-btn mb-5" routerLink="/editproperty" [queryParams]="{propertyID:property._id}">Edit</a>

    <form method="POST" action="#">
      <button class="btn btn-dark offset-5 mb-5">Delete</button>
    </form>
  </div>