.already-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  .login-button {
    margin-top: 5px;
    background-color: transparent;
    color: #1b3f70;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }