<div class="col-8 offset-3 mb-3">
    <hr />
    <h4>leave a review</h4>
    <form (ngSubmit)="onSubmit( comment.value)" #reviewForm="ngForm" novalidate class="needs-validation">
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <fieldset class="starability-slot">
          <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" [(ngModel)]="rating">
          <input type="radio" id="first-rate1" name="rating" value="1" [(ngModel)]="rating">
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="rating" value="2" [(ngModel)]="rating">
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="rating" value="3" [(ngModel)]="rating">
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="rating" value="4" [(ngModel)]="rating">
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="rating" value="5" [(ngModel)]="rating">
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>

      <p>Selected Rating: {{ rating }}</p>
  
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea name="comment" id="comment" cols="30" rows="5" class="form-control" required #comment></textarea>
        <div class="invalid-feedback">Please submit some comments for review</div>
        <button type="submit" class="btn btn-outline-dark mt-3">Submit</button>
      </div>
    </form>
    <div class="row">
      <p><b>All Reviews</b></p>
      <div *ngFor="let review of reviews; let i = index"  class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ review.author }}</h5>
          <p class="starability-result" [attr.data-rating]="review.rating"></p>
          <p class="card-text">{{ review.comment }}</p>
        </div>
        <form class="mb-3"  *ngIf="isAuthor[i]">
          <button class="btn btn-sm btn-dark" (click)="deleteReview(review._id)">Delete</button>
        </form>
      </div>
    </div>
  </div>