<div id="filters" style="display: flex; justify-content: space-around;">
    <div class="filter">
      <div><i class="fa-solid fa-umbrella-beach"></i></div>
      <p>Beach</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Mountain</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-sailboat"></i></div>
      <p>Boat</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-city"></i></div>
      <p>Cities</p>
    </div>
    <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Pool</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-cow"></i></div>
      <p>Farm</p>
    </div>
      <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-leaf"></i></div>
      <p>Nature</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-warehouse"></i></div>
      <p>Treehouse</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-earth-africa"></i></div>
      <p>Island</p>
    </div>  <div class="filter">
      <div><i class="fa-solid fa-house-crack"></i></div>
      <p>Lighthouse</p>
    </div>
</div>